{spark_im_users, [
    {allaccess1, [
        {username, <<"1116693109-3">>},
        {server, <<"chat.dev0.spark.net">>},
%        {host, <<"192.168.4.124 ">>},
%        {port, 5222},
        {auth,{escalus_auth,auth_plain}},
%        {transport, bosh},
	    {email, <<"allaccess@matchnet.com">>},
		{login_password, <<"qqqq">>},
        {password, spark_im_test_util}
    ]},

    {allaccess2, [
        {username, <<"1116693109-3">>},
        {server, <<"chat.dev0.spark.net">>},
%        {host, <<"192.168.4.124 ">>},
%        {port, 5222},
        {auth,{escalus_auth,auth_plain}},
%	    {transport, bosh},
	    {email, <<"allaccess@matchnet.com">>},
	    {login_password, <<"qqqq">>},
        {password, spark_im_test_util}
    ]},
  
    {notsubscribed1, [
        {username, <<"1116693112-3">>},
        {server, <<"chat.dev0.spark.net">>},
%        {host, <<"192.168.4.124 ">>},
%        {port, 5222},
 		{auth,{escalus_auth,auth_plain}},
%	    {transport, bosh},
	    {email, <<"notsubscribed@match.net">>},
	    {login_password, <<"qqqq">>},
        {password, spark_im_test_util}
    ]},
  
    {notsubscribed2, [
        {username, <<"1116693112-3">>},
        {server, <<"chat.dev0.spark.net">>},
%	    {host, <<"192.168.4.124 ">>},
%        {port, 5222},
	    {auth,{escalus_auth,auth_plain}},
%	    {transport, bosh},
	    {email, <<"notsubscribed@match.net">>},
	    {login_password, <<"qqqq">>},
        {password, spark_im_test_util}
    ]},    

    {subscribed1, [
        {username, <<"27029711-3">>},
        {server, <<"chat.dev0.spark.net">>},
%       {host, <<"192.168.4.124 ">>},
%        {port, 5222},     
	    {auth,{escalus_auth,auth_plain}},
%	    {transport, bosh},
	    {email, <<"wlee@spark.net">>},
	    {login_password, <<"abcd1234">>},
        {password, spark_im_test_util}
    ]},
    
    {subscribed2, [
        {username, <<"27029711-3">>},
        {server, <<"chat.dev0.spark.net">>},
%        {host, <<"192.168.4.124 ">>},
%        {port, 5222},
	    {auth,{escalus_auth,auth_plain}},
%	    {transport, bosh},
	    {email, <<"wlee@spark.net">>},
	    {login_password, <<"abcd1234">>},
        {password, spark_im_test_util}
    ]}
    
]}.


{ejabberd_node, "chat.dev0.spark.net"}.
{ejabberd_cookie, "EDPDIKUCQRHLHSNDGLBN"}.
{spark_rest_conf, "spark_rest.config"}
{spark_api_endpoint, "http://api.stgv3.spark.net/v2"}.
{spark_create_oauth_accesstoken,
              "/brandId/{brandId}/oauth2/accesstoken/application/{applicationId}"}.
{auth_profile_miniProfile,
              "/brandId/{brandId}/profile/attributeset/miniProfile/{targetMemberId}"}.
{profile_memberstatus,
              "/brandId/{brandId}/application/{applicationId}/member/{memberId}/status"}.              
              
{community2brandId,
   [{spark,"1","1001"},
    {jdate,"3","1003"},
    {cupid,"10","1015"},
    {bbw,"23","90410"},
    {blacksingle,"24","90510"}]}.


