{erl_opts, [debug_info,
            {i, ["include"]},
	    {src, [src, test]}
]}.

{require_otp_vsn, "R1[456]"}.

{deps, [

    {restc,  ".*", 
	{git, "https://github.com/kivra/restclient.git","master"}},

    {exml, "2.0.0", {git, "git://github.com/esl/exml.git", {tag, "2.0.0"}}},
    {base16, ".*", {git, "git://github.com/goj/base16.git", {branch, "master"}}},
    {lhttpc, ".*", {git, "git://github.com/esl/lhttpc.git", {branch, "master"}}},
    {wsecli, ".*", {git, "git://github.com/madtrick/wsecli.git", {branch, "master"}}}
]}.

{pre_hooks, []}.

{post_hooks, []}.


